In [8]:
import pandas as pd
import matplotlib.pyplot as plt

# Read CSV into DataFrame
df = pd.read_csv('workouts.csv')


# Calculate volume (weight_kg x reps)
df['best_set_volume'] = df['weight_kg'] * df['reps']
df['total_volume'] = df['weight_kg'] * df['reps']

# Calculate 1RM (1 Repetition Maximum)
df['1rm'] = df['weight_kg'] * (1 + df['reps'] / 30)

# Make new DF where the exercises are grouped by date, we keep the best 1RM and best volume and we sum the total volume for each exercise
grouped_data = df.groupby(['start_time','exercise_title']).agg({'1rm': 'max', 'best_set_volume': 'max', 'total_volume': 'sum'}).reset_index()

# Convert start_time to datetime
grouped_data['start_time'] = pd.to_datetime(grouped_data['start_time'], format='%d %b %Y, %H:%M')

grouped_data = grouped_data.sort_values(by='start_time')

display(grouped_data)

,start_time,exercise_title,1rm,best_set_volume,total_volume
350,2022-07-19 12:39:00,Bench Press (Barbell),73.333333,550.0,1940.0
351,2022-07-19 12:39:00,Crunch (Machine),69.666667,440.0,440.0
352,2022-07-19 12:39:00,Hammer Curl (Dumbbell),14.800000,100.0,264.0
353,2022-07-19 12:39:00,Incline Bench Press (Dumbbell),20.800000,144.0,396.0
354,2022-07-19 12:39:00,Lateral Raise (Dumbbell),7.800000,54.0,138.0
...,...,...,...,...,...
304,2024-01-17 14:22:00,Leg Raise Parallel Bars,NaN,NaN,0.0
303,2024-01-17 14:22:00,Lateral Raise (Machine),68.083333,617.5,1782.5
300,2024-01-17 14:22:00,Chest Press (Machine),104.000000,750.0,2400.0
302,2024-01-17 14:22:00,Incline Chest Press (Machine),82.000000,660.0,1695.0
301,2024-01-17 14:22:00,Crunch (Machine),82.000000,660.0,1200.0

In [9]:
# Create a separate graph for each exercise
for exercise in grouped_data['exercise_title'].unique():
    # Filter data for the current exercise
    group = grouped_data[grouped_data['exercise_title'] == exercise]

    if len(group) < 10:
        continue

    # Only keep data for the last 3 months
    group = group[group['start_time'] > '2023-10-20']

    # Sort data by date
    group = group.sort_values(by='start_time')

    # Print row where volume is highest
    display(group[group['total_volume'] == group['total_volume'].max()])

,start_time,exercise_title,1rm,best_set_volume,total_volume
489,2023-10-21 13:31:00,Bench Press (Barbell),93.333333,700.0,2400.0

             start_time    exercise_title   1rm  best_set_volume  total_volume
768 2023-11-03 15:30:00  Crunch (Machine)  91.0            780.0        1775.0

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

,start_time,exercise_title,1rm,best_set_volume,total_volume
829,2023-11-30 15:33:00,Leg Extension (Machine),112.5,1125.0,3325.0

            start_time   exercise_title    1rm  best_set_volume  total_volume
64 2024-01-10 16:31:00  Squat (Machine)  123.0            990.0        2030.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
387,2023-12-02 17:25:00,Lat Pulldown (Machine),143.5,1155.0,4175.0

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

,start_time,exercise_title,1rm,best_set_volume,total_volume
571,2023-10-23 13:39:00,Seated Calf Raise,43.333333,360.0,925.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
1018,2023-12-08 17:59:00,Seated Leg Curl (Machine),74.0,420.0,700.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
772,2023-11-03 15:30:00,Leg Press Horizontal (Machine),213.566667,1937.0,4906.0

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

,start_time,exercise_title,1rm,best_set_volume,total_volume
242,2023-11-15 12:16:00,Lateral Raise (Machine),63.333333,540.0,1887.5

,start_time,exercise_title,1rm,best_set_volume,total_volume
773,2023-11-03 15:30:00,Preacher Curl (Machine),47.833333,385.0,1345.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
777,2023-11-03 15:30:00,Triceps Extension (Cable),49.0,420.0,1290.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
76,2024-01-11 14:49:00,Seated Shoulder Press (Machine),70.0,600.0,1775.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
699,2023-11-28 12:20:00,Incline Chest Press (Machine),84.5,585.0,2595.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
325,2023-11-18 10:30:00,Skullcrusher (Dumbbell),16.4,132.0,396.0

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

,start_time,exercise_title,1rm,best_set_volume,total_volume
868,2023-12-04 11:42:00,Chest Press (Machine),100.0,750.0,3045.0

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

Empty DataFrame
Columns: [start_time, exercise_title, 1rm, best_set_volume, total_volume]
Index: []

              start_time exercise_title  1rm  best_set_volume  total_volume
774  2023-11-03 15:30:00        Pull Up  NaN              NaN           0.0
91   2023-11-11 10:56:00        Pull Up  NaN              NaN           0.0
527  2023-11-22 12:05:00        Pull Up  NaN              NaN           0.0
1016 2023-12-08 17:59:00        Pull Up  NaN              NaN           0.0
48   2023-12-10 11:57:00        Pull Up  NaN              NaN           0.0
514  2023-12-22 13:14:00        Pull Up  NaN              NaN           0.0
693  2023-12-28 15:33:00        Pull Up  NaN              NaN           0.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
164,2023-11-13 10:26:00,Rear Delt Reverse Fly (Machine),51.333333,490.0,1500.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
1060,2023-11-09 10:16:00,Seated Row (Machine),93.333333,700.0,3015.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
962,2023-12-06 14:59:00,Hip Adduction (Machine),88.0,840.0,2050.0

,start_time,exercise_title,1rm,best_set_volume,total_volume
1006,2023-11-07 10:38:00,Hip Thrust (Machine),156.0,900.0,4080.0